
input[type=text],
select,
input[type=date] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


#form_subtaskname {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#new_form_subtaskname {
  margin-top: 20px;
}

#output p{
  text-align: justify;
  margin-top: 10px;
}

@media screen and (max-width: 480px) {
 
}