
input[type=text],
select,
input[type=date] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#add_task {
  /* height: 70vh; */
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

#form_subtaskname {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#new_form_subtaskname {
  margin-top: 20px;
}