@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Ubuntu", sans-serif;
}

.nav_bar {
  background-color: #333;
  color: #fff;
  display: flex;
  height: 50px;
}

.title h1 {
  padding-right: 20px;
  padding-left: 20px;
  font-size: 28px;

}

.add_bar {
  display: flex;
  background-color: #ff5722;
  height: 100%;
  cursor: pointer;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.view_bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7cd87f;
  height: 100%;
  cursor: pointer;
  flex: 1
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.action_menu{
  flex: 1;
  display: flex;
  flex-direction: row;
}

#add_task {
  /* height: 70vh; */
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}


#view_task{
  margin-top: 1%;
}



@media screen and (max-width: 480px) {
  .nav_bar {
    flex-direction: column;
  }

  .add_bar {
    padding: 6px;
  }

  .view_bar {
    padding: 6px;
  }

  #add_task {
    /* height: 70vh; */
    margin-top: 10%;
    align-items: initial;
    padding: 0px 10px;

  }
  
  #view_task{
    margin-top: 10%;
  }
}
